@page
@model Bloggie.Web.Pages.KendoDemoModel
@{

}
<div class="container tm-5">
<h1>Hello</h1>
<div id="kendoVersion"></div>
<div id="ordersGrid"></div>
<input id="cmbEmployee"/>
<input id="ddl" />
</div>